body{
  margin: 0;
}
h1{
  padding: 10px;
  margin: 10px;
  color: slateblue;
  font-size: 50px;
   float: left;
}
h2{
  padding: 48px;
  font-size: 20px;
  color: slategray;
  bottom: 0;
}
#Footer{
  color: lightcyan;
  text-align: center;
  background-color: darkslateblue;
  font-size: 10px;
  margin: 0;
  margin-left: 30px;
  margin-right: 30px;
  height: 50px;
  padding: 10px
}
#achor{
  text-align: center;
  margin: 10px;
}
#git{
  color: #954;
}
#clock{
  color:rosybrown;
  font-size: 30px;
  margin: 20px;
  display: block;
}
#developing{
  display: block;
  margin: 20px;
  color: rosybrown;
  font-size: 30px;
}
.body{
  margin-right: auto;
  margin-left:auto; 
}
#ground{
  display: block;
  color: rosybrown;
  font-size: 30px;
  margin: 20px;
}
#ball{
  color: rosybrown;
  margin: 20px;
  display: block;
  font-size: 30px;
}